.headerr{
    padding: 0px;
    text-align: center;
    background-color: rgba(167, 220, 247, 0.247);
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: fixed;
}
.item{
    padding: 0px;
    margin: 10px;
}
.item .link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.item .link:hover{
    color: rgba(233, 6, 233, 0.863);
}

.brand{
    color: black;
    padding-left: 50px;
}